<div class="container" xmp-personalized-controller xmp-tracking-page-name='Success page angular'>
  <div class="grid grid--column">
    <div>
      <h3 class="title">Welcome, <br /><span xmp-text="xmp.r['FirstName']"></span>{{" "}}<span
          xmp-text="xmp.r['LastName']"></span>!</h3>
    </div>
    <div>
      <img class="img-content" src="/assets/success.jpg" alt="Registration">
    </div>
  </div>
  <div class="grid">
    <a class="link" routerLink="/update-info-angular">Show profile using angular syntax</a>
    <a class="link" routerLink="/update-info-xmpl">Show profile using XMPL syntax</a>
    <a class="link" routerLink="/update-info-js-xmpl">Show profile using XMPL and JS</a>
  </div>
</div>
