<div class="container" xmp-personalized-controller xmp-turn-off-default-error>
    <div class="grid grid--column">
        <div>
            <h3 class="title">Sign in form</h3>
            <form xmp-signin xmp-signin-auto="true" xmp-success-url="/success" xmp-failure-url="/error">
                <div class="form__section">
                    <div class="form__group-title">Username </div>
                    <div class="form__group">
                    <input class="input__element" type="text" size="30" xmp-username />
                    </div>
                </div>
                <div class="form__section">
                    <div class="form__group-title">Password:</div>
                    <div class="form__group">
                    <input class="input__element" type="password" size="30" x xmp-password />
                    </div>
                </div> 
                <button class="btn btn__primary" type="submit" >
                    <span class="btn__content" >Log in</span>
                </button>
            </form>
      </div>  
    </div>
</div>