<div class='container' xmp-personalized-controller xmp-tracking-page-name='Update page xmpl js'>
  <h3 class='title'>Profile</h3>
  <div class='grid grid--column'>
    <div>
      <h3>Profile:</h3>
      <div class='form__section'>
        <div class='form__group-title'>First Name:</div>
        <div class='form__group'>
          <span xmp-text="xmp.r['FirstName']"></span>
        </div>
      </div>
      <div class='form__section'>
        <div class='form__group-title'>Last Name:</div>
        <div class='form__group'>
          <span xmp-text="xmp.r['LastName']"></span>
        </div>
      </div>
      <div class='form__section'>
        <div class='form__group-title'>Email:</div>
        <div class='form__group'>
          <span xmp-text="xmp.r['Email']"></span>
        </div>
      </div>
      <div class='form__section'>
        <div class='form__group-title'>Feedback:</div>
        <div class='form__group'>
          <span xmp-text="xmp.r['Feedback']"></span>
        </div>
      </div>
      <div class="form__section">
        <div class="form__group-title">Newsletter:</div>
        <div class="form__group">
          <span xmp-text="xmp.r['Newsletter']"></span>
        </div>
      </div>
    </div>
    <div>
      <h3>Update and execute code</h3>
      <form xmp-update xmp-success-js='handleSuccess()' xmp-failure-js='handleError()'>
        <div class='form__section form__section_sm'>
          <div class='form__group-title'>First Name:</div>
          <div class='form__group'>
            <input class='input__element' type='text' size='30' xmp-write-ador="xmp.r['FirstName']" />
          </div>
        </div>
        <div class='form__section form__section_sm'>
          <div class='form__group-title'>Last Name:</div>
          <div class='form__group'>
            <input class='input__element' type='text' size='30' xmp-write-ador="xmp.r['LastName']" />
          </div>
        </div>
        <div class='form__section form__section_sm'>
          <div class='form__group-title'>Email:</div>
          <div class='form__group'>
            <input class='input__element' type='text' size='30' xmp-write-ador="xmp.r['Email']" />
          </div>
        </div>
        <div class='form__section form__section_sm'>
          <div class='form__group-title'>Feedback:</div>
          <div class='form__group'>
            <input class='input__element' type='text' size='30' xmp-write-ador="xmp.r['Feedback']" />
          </div>
        </div>
        <div class='form__section form__section_sm'>
          <div class='form__group'>
            <input type="checkbox" xmp-write-ador="xmp.r['Newsletter']" 
              xmp-true-value="subscribe" xmp-false-value="unsubscribed"> Subscribe to news letter. 
          </div>
        </div>
        <button class='btn btn__primary' type='submit'>
          <span class='btn__content'>Update</span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="grid">
  <a class="link" routerLink="/update-info-angular">Show profile using angular syntax</a>
  <a class="link" routerLink="/update-info-xmpl">Show profile using XMPL</a>
</div>
