<div class="container">
  <p>XMPL is a Javascript library that adds personalization to your HTML page. Use the library's custom tags and attributes to add features such as variable text and images. Show or hide various areas of the page based on the offer that you wish to make for the target recipient. You can also change the font, color or any other style aspects with style variables.</p>
  <div class="grid">
    <a class="link" href="/registration">Anonymous page</a>
    <a class="link" href="/personalized?rid=08f72b0e5ac4e8354fea663a1021fcea">Personalize page</a>
  </div>
</div>

