<div
			class='is-preload'
			xmp-personalized-controller="true"
			xmp-tracking-page-name='Content Page'
		>
			<div id='wrapper'>
				<app-header></app-header>

				<div id='main' class='alt'>
					<section id='one' xmp-class='xmp.r.backgroundColor'>
						<div class='inner'>
							<header class='major'>
								<h1>
									<span xmp-text='xmp.r.preference'></span> holiday destinations
								</h1>
							</header>
							<span class='image main'>
								<img
									alt=''
									xmp-image-asset='xmp.r.photo5'
								/>
							</span>
							<span xmp-text='xmp.r.promoText'></span>
						</div>
					</section>
          <app-contact></app-contact>
          <app-footer></app-footer>
				</div>
			</div>
		</div>
