body.is-menu-visible #wrapper {
  -moz-filter: blur(0.5em);
  -webkit-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  filter: blur(0.5em);
}

#menu.visible {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

#menu.visible .inner {
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  visibility: visible;
}
