<header id="header" class="alt">
  <a routerLink="/" class="logo">
    <img [src]="logoSrc" alt="Round Travel" />
  </a>
  <nav>
    <a (click)="showMenu($event)" href="#menu">Menu</a>
  </nav>
</header>

<nav [class.visible]="isShowMenu" id="menu" (click)="hideMenu()">
  <ul class="links">
    <li>
      <a (click)="hideMenu()" routerLink="/">Home Page</a>
    </li>
    <li>
      <a routerLink="/content" xmp-tracking-action="Clicked Content">
        Content Page
      </a>
    </li>
    <li>
      <a href="https://www.xmpie.com" xmp-tracking-action="Clicked XMPie">
        XMPie Website
      </a>
    </li>
    <li>
      <a href="https://campus.xmpie.com" xmp-tracking-action="Clicked Campus">
        XMPie Campus
      </a>
    </li>
  </ul>
  <ul class="actions stacked">
    <li>
      <a routerLink="/" class="button primary fit"> Get Started </a>
    </li>
  </ul>
</nav>
