<div
			class='is-preload'
			xmp-personalized-controller=''
			xmp-cloak=''
			xmp-tracking-page-name='Landing Page'
		>
			<div id='wrapper'>
				<app-header></app-header>

				<section id='banner' class='major'>
					<div class='inner'>
						<header class='major'>
							<h1>
								Hi <span xmp-text='xmp.r.firstname'></span>, welcome to Round
								Travel!
							</h1>
						</header>
						<div class='row'>
							<div class='content col-9 col-lg-6 col-md-12'>
								<p>
									Your personalized travel destination
									<br />
									brought to you by XMPie.
								</p>
								<ul class='actions'>
									<li>
										<a href='#one' class='button next scrolly'>
											Get Started
										</a>
									</li>
								</ul>
							</div>
							<div class='col-3 col-lg-6 col-md-12'>
								<img
									[src]="ClubMemberLogo"
									alt='Travel Club Member'
									xmp-show='xmp.r.isClubMember'
								/>
							</div>
						</div>
					</div>
				</section>

				<div id='main'>
					<section id='one' class='tiles'>
						<article [style.background-image]="'url(' + photo1 + ')'">
							<span class='image'>
								<img alt='' xmp-image-asset='xmp.r.photo1' />
							</span>
							<header class='major'>
								<h3>
									<a
                    routerLink='/content'
										class='link'
										xmp-tracking-action='Clicked Content'
									>
										Excitement
                </a>
								</h3>
								<p>Get out and about!</p>
							</header>
						</article>
						<article [style.background-image]="'url(' + photo2 + ')'">
							<span class='image'>
								<img alt='' xmp-image-asset='xmp.r.photo2' />
							</span>
							<header class='major'>
								<h3>
									<a
                    routerLink='/content'
										class='link'
										xmp-tracking-action='Clicked Content'
									>
										Breathe
                  </a>
								</h3>
								<p>Take a break!</p>
							</header>
						</article>
						<article [style.background-image]="'url(' + photo3 + ')'">
							<span class='image'>
								<img alt='' xmp-image-asset='xmp.r.photo3' />
							</span>
							<header class='major'>
								<h3>
									<a
                    routerLink='/content'
										class='link'
										xmp-tracking-action='Clicked Content'
									>
										Enjoy
                  </a>
								</h3>
								<p>Indulge in the best</p>
							</header>
						</article>
						<article [style.background-image]="'url(' + photo4 + ')'">
							<span class='image'>
								<img alt='' xmp-image-asset='xmp.r.photo4' />
							</span>
							<header class='major'>
								<h3>
									<a
										href='content.html'
										class='link'
										xmp-tracking-action='Clicked Content'
									>
										Relax
									</a>
								</h3>
								<p>Discover something new</p>
							</header>
						</article>
					</section>
					<section id='two' xmp-class='xmp.r.backgroundColor'>
						<div class='inner'>
							<header class='major'>
								<h2>About Round Travel</h2>
							</header>
							<p>
								At Round Travel we personalize the travel experience by offering
								the best destinations, tours and itineraries based on your
								preferences!
							</p>
							<ul class='actions'>
								<li>
									<a
                    routerLink='/content'
										class='button next'
										xmp-tracking-action='Clicked Content'
									>
										Get Started
                </a>
								</li>
							</ul>
						</div>
					</section>
				</div>

				<app-contact></app-contact>

				<app-footer></app-footer>
			</div>
		</div>
